@page "/AddItem"

@using CourierManagementSystem.Data
@inject CourierService CourierService
@inject CategoriesService categoriesService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<hr />
@if(CatObj != null && CatObj.Count > 0)
{
 <h2>Add Item</h2>
  <form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@obj.Name" />
            </div>
             <div class="form-group">
                <label for="Name" class="control-label">Description</label>
                <input form="Name" class="form-control" @bind="@obj.Description" />
            </div>
            <div class="form-group">
                <label for="Gender" class="control-label"></label>
                <select @bind="@obj.Category" class="form-control">
                    <option value="">-Select Category</option>
                        @foreach(var inv in CatObj)
                        {
                        <option value="@inv.Name">@inv.Name</option>
                        }
                </select>
               
            </div>
            <div class="form-group">
                <label for="Designation" class="control-label">Description</label>
                <input form="Designation" class="form-control" @bind="@obj.Description" />
            </div>
            <div class="form-group">
                <label for="City" class="control-label">Price</label>
                <input form="City" class="form-control" @bind="@obj.Price" />
            </div>
             <div class="form-group">
                    <label for="City" class="control-label">Number of CourierItem</label>
                <input form="City" class="form-control" @bind="@obj.CourierItem" />
            </div>
             <div class="form-group">
                <label for="City" class="control-label">Date of Adding Item</label>
                <input form="City" class="form-control" @bind="@obj.DateofAddingItem" type="datetime-local" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateItem" value="Save"/>
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel"/>
            </div>
        </div>
    </div>
</form>  
}
else
{
      <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label  class="control-label text-danger">Please, Add Category</label>
                <NavLink class="nav-link" href="AddCategory">
                    <span class="oi oi-plus" aria-hidden="true">Add Category</span>

                 </NavLink>
            </div>

         </div>
    </div>
}



@code {

    Item obj = new Item();
    List<CourierManagementSystem.Data.Category> CatObj;
    protected override async Task OnInitializedAsync()
    {
      CatObj = await Task.Run(() => categoriesService.GetAllCategoryAsync());
    }
  
    protected async void CreateItem()
    {
        await CourierService.InsertItemAsync(obj);
        NavigationManager.NavigateTo("CourierItem");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("CourierItem");
    }
}