@page "/DeleteItem/{Id}"
@using CourierManagementSystem.Data
@inject CourierService CourierService
@inject NavigationManager NavigationManager
@attribute [Authorize]
<h2>Delete Item</h2>
<hr />
<h3>Are you sure want to delete this?</h3>
<form>
    <div class="row">
        <div class=" col-md-8">
            <div class="form-group">
                <label> Id:</label>
                <label>@obj.Id</label>
            </div>
            <div class="form-group">
                <label> Name:</label>
                <label>@obj.Name</label>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <label>@obj.Description</label>
            </div>
             <div class="form-group">
                <label>Date of Adding Item:</label>
                <label>@obj.DateofAddingItem</label>
            </div>
            <div class="form-group">
                <label>Category:</label>
                <label>@obj.Category</label>
            </div>
            <div class="form-group">
                <label>Price:</label>
                <label>@obj.Price</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Item obj = new Item();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => CourierService.GetItemAsync(Convert.ToInt32(Id)));
    }
    protected async void Delete()
    {
        await CourierService.DeleteItemAsync(obj);
        NavigationManager.NavigateTo("CourierItem");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("CourierItem");
    }
}