@page "/Items"
@using Microsoft.AspNetCore.Identity
@using CourierManagementSystem.Data
@attribute [Authorize]

@inject CourierService CourierService

<NavLink class="nav-link" href="AddItem">
    <span class="oi oi-plus" aria-hidden="true">Add Item</span>

</NavLink>

<h1>Courier Info</h1>
 <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search item name"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterItem" />
               @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
</div>
@if (CourierObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category </th>
                    <th>Description</th>
                    <th>Date of Adding Item</th>
                    <th>Price</th>
                    <th>Number of CourierItem</th>
                    <th>Action</th>
                </tr>
            </thead>
        <tbody>
            @foreach(var cour in CourierObj)
                {
            <tr>
                <td>@cour.Id</td>
                <td>@cour.Name</td>
                <td>@cour.Category</td>
                <td>@cour.Description</td>
                <td>@cour.DateofAddingItem</td>
                <td>@cour.Price</td>
                <td>@cour.CourierItem</td>
                <td>
                        <a class="nav-link" href="EditItem/@cour.Id">
                        <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                    </a>
                        <a class="nav-link" href="DeleteItem/@cour.Id">
                        <span class="oi oi-trash" aria-hidden="true">Delete</span>
                    </a>
                </td>
            </tr>
                }
        </tbody>
    </table>
}


@code {
    List<Item> CourierObj;
    protected string SearchString { get; set; } = string.Empty;
     protected List<Item> searchUserData = new();
    protected override async Task OnInitializedAsync()
    {
        CourierObj = await Task.Run(() => CourierService.GetAllCourierAsync());
        searchUserData = CourierObj;
    }
   
    protected void FilterItem()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            CourierObj = searchUserData
                .Where(x => x.Name.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            CourierObj = searchUserData;
        }
    }
    public void ResetSearch()
    {
        SearchString = string.Empty;
        CourierObj = searchUserData;
    }
}